<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/profile" class="nav-link px-2 text-secondary">Profile</a></li>
        <li><a href="/dashboard" class="nav-link px-2 text-white">Dashboard</a></li>
      </ul>

      <div class="text-end">
        <a href="/logout" class="btn btn-warning">Logout</a>
      </div>
    </div>
  </div>
</header>

<main class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Hello, {{name}}!</h1>
    <p class="lead">Welcome to your Dashboard</p>
  </div>
</main>