<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/icon-48x48.png">
  <link rel="apple-touch-icon" sizes="48x48" href="/img/icon-48x48.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/icon-72x72.png">
  <link rel="apple-touch-icon" sizes="96x96" href="/img/icon-96x96.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/icon-144x144.png">
  <link rel="apple-touch-icon" sizes="192x192" href="/img/icon-192x192.png">
  <link rel="apple-touch-icon" sizes="256x256" href="/img/icon-256x256.png">
  {{!-- Bootstrap CSS --}}
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  {{!-- Our CSS --}}
  <link href="./css/style.css" rel="stylesheet">
  {{!-- Bootstrap JS --}}
  <script defer src="./js/bootstrap.bundle.min.js"></script>
  {{!-- Our JS --}}
  <script defer src="./js/application.js"></script>
  <title>Simple Auth System</title>
</head>

<body>
  {{{body}}}
</body>

</html>