<section class="text-center">
  <main class="form-signin">
    <form id="formLogin" method="POST" action="/login">
      <h1 class="h3 mb-3 fw-normal">Fill in the fields</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="loginInputEmail" name="email" placeholder="name@example.com"
          required autofocus>
        <label for="loginInputEmail">Email address</label>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="loginPassword" name="password" placeholder="Password"
          minlength="8" required>
        <label for="loginPassword">Password</label>
      </div>

      <div id="feedback" class="invalid-feedback"></div>

      <button class="w-100 btn btn-lg btn-success mt-1">Login now</button>
      <a href="/" class="w-100 btn btn-lg btn-outline-secondary mt-1">Back home</a>

    </form>

  </main>
</section>