html {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

a {
  text-decoration: none;
}

.input-group-text {
  cursor: pointer;
  border-top-right-radius: 0;
}

.form-signin,
.form-forgot {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin #regInputName,
.form-signin #loginInputEmail {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin #regInputEmail {
  margin-bottom: -1px;
  border-radius: 0;
}

.form-signin #regPassword {
  margin-bottom: -1px;
  border-radius: 0;
}

.form-signin #regConfirmPassword,
.form-signin #loginPassword {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar-nav {
  width: 100%;
}

.nav-item:nth-child(4n) {
  margin-left: auto;
}

.invalid-input {
  border-color: #dc3545;
}

.invalid-feedback {
  width: auto;
  font-size: inherit;
  margin: 0.25rem;
  color: #dc3545;
}

.profile-avatar {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.add-card {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 4rem;
  height: 12rem;
  width: 12rem;
  border-radius: 10px;
  border: 1px solid #808080;
}

.add-card > i {
  color: #808080;
}

.add-card:hover {
  background-color: #8080802e;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
